.*
**/tsconfig.json
**/webpack.config.js
.github/
.vscode/
dev/
docs/
src/
tests/
.editorconfig
.firebaserc
.gitignore
babel.config.js
firebase.json
index-mob.html
jest.config.js
tsconfig.json
webpack.common.js
webpack.dev.js
webpack.prod.js
CODE_OF_CONDUCT.md
*.tgz
